*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    overflow-x: hidden;
    background: #e8eff6;

}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
position: fixed;
width: 250px;
height: 100%;
background: rgb(0, 41, 121);
transition: 0.5;
overflow: hidden;
}

.navigation.active
{
    width: 60px;
}

.icon-header
{
    position: relative;
    justify-content: center;
    padding: 30px 50px 20px 70px;
    display: flex;
    flex-direction: row;
}
.icon-header .fa
{
color: #fff;
   font-size: 17px !important; 
   /* padding-left: 20px !important; */
}

.navigation ul
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; 
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover
{
   background:#fff ;
}

.navigation ul li:nth-child(1)
{
    margin-bottom: 17px;
}

.navigation ul li:nth-child(1):hover
{
    background: transparent ;    
}

.navigation ul li a
{
  position: relative; 
  display: block;
  width: 100%;
  display:flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 53px;
    line-height: 40px;
    text-align: center; 
}

.navigation ul li a .icon .fa
{
   color: #fff;
   font-size: 24px;  
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 53px;
    line-height: 40px; 
    white-space: nowrap;
}
.teams
{
    color: #fff;
    margin: 20px;
    font-weight: 100;
}

.button-up
{
    text-align: center;
    /* margin-left:70px; */
    margin-right: 70px;
}
.button-up .arrow-up
{
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.button-up .upgrade-text
{
    color: #fff;
    margin: 7px;
    font-weight: small !important;
    margin-top: 10px;
}

.button-up .upgrade
{
    padding:  8px 25px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
/* toggle */
/* .main
{
    position: relative;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}

.main.active
{
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar
{
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle
{
   position: relative;
   width: 60px;
   height: 60px;
   cursor: pointer;
}

.toggle::before
{
    content: '\f0c9';
    position: absolute;
    width: 100%;
    height:100% ;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* .container-right
{
    width: 100%;
} */


.dashboard
{
    position: fixed;
    width: calc(100% - 230px);
    left: 230px;
    /* min-height: 100vh; */
    height: 100%;
    /* background: #f5f5f5; */
    transition: 0.5s;
}

.dashboard-menu
{
    position: relative;
    width: 100%;
    /* padding: 70px 70px; */
    /* padding-left: 70px; */
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.details .header
{
    margin-top: 28px;
}

.details .header p
{
    color: #B8B8B8;
    font-weight: lighter;
}

.details .header h2
{
    /* color: #B8B8B8; */
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 25px;
}

.dashboard .details
{
/* padding: 80px; */
padding-left: 80px;
padding-right: 80px;
}

.dashboard .details .card
{
    position: relative;
    display: grid;
    min-height: 200px;
    background: #4778ec;
    padding-left: 10px;
    padding-right: 14px;
    border-radius: 10px;
    color: #fff;
}

.card h4
{
    font-size: 20px;
    padding-left: 25px;
}

.dashboard-header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 25px;
    /* overflow: hidden; */
}

.btn
{
    position: relative;
    padding: 7px 40px;
    background: #fff;
    color:#4778ec;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    font-size: 10px;
}

/* RIGHT */
.container-right
{
  position: relative;
  /* display: grid; */
  height: 100%;
  /* background: red; */
  background: #fff;
}

.navigation-right{
    margin: 7px;
}

.dashboard .graph
{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 0fr;
}

/* .dashboard .graph .graph-1
{
    width: 100%;
} */
/* .graph-1
{
float: left;
  width: 70%;
  padding: 10px;
}
.graph-2
{
float: left;
  width: 30%;
  padding: 10px;
} */

.container-right .fa
{
  position: relative; 
  width: 40px;
  height: 40px ;
  border-radius: 5px;
  overflow: hidden; 
  background: violet;
  padding:14px;
  margin: 10px;
  color: green;
}

.container-right table tr:hover
{
   background: #4778ec; 
   color: #fff;
}
.container-right table tr td 
{
    margin-left: 8px; 
    margin-right: 8px;   
}

.container-right table tr td h4
{
    font-size: 10px;
    font-weight: 500;
    line-height: 1em;
    margin: 10px;
}
.container-right table tr span
{
    font-size: 9px;
    margin-top: 10px;
    color: #999;
}

.container table .fa-id-badge
{
    color: #8f00ff !important;
    background: #f3e4ff;
}


.container table .fa-download
{
    color: #008e13;
background: #d4ffda;
}

.container table .fa-microphone
{
    color: #008ad8;
background: #e4faff;
}


.avatar
{
    width: 25%;
    border-radius: 8px;
    background: #e8eff6;
    padding:10px;
    background-color:#e8eff6 ;
}
.avatar1
{
    width: 25%;
    border-radius: 50%;
    background: #e8eff6;
    padding:10px;
    background-color:#e8eff6 ;
    margin: 5px;
}

.user span .fa
{
    background: #fff !important;
}

.navigation-right .upcoming{
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    color: #999;
    margin-top:20px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.upcoming-section .fa
{
    color: #ffad47;
    background: #ffe4c2;
}

.upcoming-section h2

.upcoming-section .violet
{
    color: #ffad47;
    /* background: #ffe4c2; */
}

.upcoming-section .fa
{
    color: #ffad47;
    background: #ffe4c2;
}